html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

#content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: grid;
	grid-column-gap: 16px;
	grid-template-columns: repeat(2, 1fr);
	visibility: hidden;
	font: 14px "Roboto Mono", sans-serif;
	padding: 8px;
	box-sizing: border-box;
	text-align: center;
	max-width: 1280px;
	margin: 0 auto;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

@media screen and (orientation: portrait) {
	#content {
		max-width: 640px;
		grid-template-columns: 1fr;
	}
}

@media screen and (orientation: landscape) {
	#content {
		max-width: 1280px;
		grid-template-columns: 1fr 1fr;
	}
}

.container {
	padding: 12px;
	box-sizing: border-box;
	min-width: 408px;
	max-width: 640px;
}

#urlContainer {
	white-space: nowrap;
	height: 48px;
}

input {
	min-height: 24px;
	padding: 0;
	font: 14px "Roboto Mono", sans-serif;
	border: none;
	background-color: gainsboro;
	vertical-align: middle;
  position: relative;
  bottom: 1px;
}

input[type="submit"] {
	cursor: pointer;
}

img {
	border-radius: 6px;
	max-width: 100%;
	display: inline-block;
	box-sizing: border-box;
}

#timeStamps {
	margin: auto;
	font-size: 12px;
	width: 408px;
	height: 17px;
	vertical-align: middle;
}

#nowPlaying {
	margin: auto;
	line-height: 1.5em;
	font-size: 18px;
	padding: 24px 0;
	min-width: 408px;
	max-width: 100%;
	display: inline-block;
}

#nowPlaying.material-icons{
	height: 1.5em;
	animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#currentTime {
	float: left;
}

#totalTime {
	float: right;
}

progress {
	width: 408px;
	border: none;
	border-radius: 4px;
	padding: 0;
	max-height: 8px;
	background-color: gainsboro;
	color: black;
	cursor: pointer;
}
progress::-moz-progress-bar { background-color: black; border-radius: 4px; }
progress::-webkit-progress-bar { background-color: gainsboro; border-radius: 4px; }
progress::-webkit-progress-value { background-color: black; border-radius: 4px; }

#controls {
	display: grid;
	margin: 18px auto;
	grid-template-columns: repeat(7, 1fr);
	max-width: 408px;
	align-items: start;
}

#controls .material-icons {
	margin: auto;
	cursor: pointer;
	font-size: 36px;
}

table {
	counter-reset: index;
}

tr:hover .deleteButton {
	visibility: visible !important;
}

td {
	vertical-align: middle;
	padding: 8px;
}

.playlistIndex::before {
	counter-increment: index;
	content: counter(index) ".";
}

#playlistDeleteButton {
	font-size: 36px;
	padding: 0 0 16px 0;
}

#disclaimer {
	text-align: justify;
}

#disclaimer .material-icons {
	font-size: 36px;
	float: left;
}

a {
	color: black;
}